<!--/ Section Contact-Footer Star /-->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/hanoi.jpg)">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full">
            <div class="row">
              
              <div class="col-md">
                <div class="title-box-2 pt-4 pt-md-0">
                  <h5 class="title-left">
                    Get in Touch
                  </h5>
                </div>
                <div class="more-info">
                  <ul class="list-ico">
                    <li><span class="ion-ios-telephone"></span>(+44) 7471 02 6969</li>
                    <li><span class="ion-email"></span>huyen.n10901@gmail.com</li>
                    <li><span class="ion-ios-location"></span> <a href="https://www.linkedin.com/in/huyennguyen910/" target="_blank">Visit my LinkedIn profile <strong>HERE!</strong></a></li>
                  </ul>
                </div>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p>&copy; <span id="current-year"></span> All Rights Reserved</p>
            <div class="credits">
              <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
<!--/ Section Contact-footer End /-->